* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}

body {
    background-color: #516d9a;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.container {
    width: 25%;
    margin: auto;
    padding: 2rem;
    position: relative;
    top: 8rem;
    border-radius: 20px;
    background: linear-gradient(145deg, #5775a5, #49628b);
    box-shadow: 35px 35px 71px #42597e, -35px -35px 71px #6081b6;
}

form {
    display: flex;
    flex-direction: column;
    width: 18.5rem;
    justify-content: space-evenly;
    height: 20rem;
    align-items: flex-start;
}

input {
    height: 2rem;
    width: 18rem;
    border-radius: 5px;
    outline: none;
    border: 2px solid #f0f0f0;
    padding: 5px;
}

input:focus {
    outline: 0;
    border: 2px solid rgb(26, 25, 25);
}

input.success {
    border: 2px solid var(--success-color);
    box-shadow: 0px 0px 16px 0px rgb(16 103 66);
}

input.error {
    outline: 0;
    border: 2px solid var(--error-color);
    box-shadow: 0px 1px 5px 0px rgb(160 62 62 / 89%);
}

button {
    width: 18rem;
    height: 2rem;
    outline: none;
    border-radius: 10px;
    border-style: none;
}

small {
    color: var(--error-color);
}

@media only screen and (max-width: 1350px) {
    .container {
        width: 30%;
    }
}

@media only screen and (max-width: 1090px) {
    .container {
        width: 35%;
    }
}

@media only screen and (max-width: 950px) {
    .container {
        width: 45%;
    }
}

@media only screen and (max-width: 730px) {
    .container {
        width: 55%;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        width: 65%;
    }
    input,
    button {
        width: 15rem;
        height: 1.5rem;
    }
}

@media only screen and (max-width: 450px) {
    .container {
        width: 70%;
    }
    input,
    button {
        width: 12rem;
        height: 1.5rem;
    }
}